.body {
    margin: 0px auto;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 160%;
    font-size: 15px;
    margin-bottom: 10px;
    color: #4C4C4C;
}

h1, h2, h3, h4, h5 {
    font-family: 'Georgia';
    font-weight: 400;
    font-style: normal;
    line-height: 130%;

}

h2 {
    font-size: 44px;
    color: #ffffff;
}

h3 {
    font-size: 35px;
    color: #545454;
    letter-spacing: 0.06em;
}

h4 {
    font-size: 20px;
    margin: 24px auto 30px;
    letter-spacing: 0.06em;
}

h5 {
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 5px 0;
}

em {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
    line-height: 110%;
}

a {
text-decoration: none;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.mobile-menu {
    display: none;
}

.start-screen {
    background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.header-content {
    padding: 60px 0;
    display: flex;
    color: #fafafa;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    max-height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-title {
    color: #F1CDB3;
    margin: 0px;
    letter-spacing: 0.06em;
}

.logo-subtitle {
    margin: 0;
    font-size: 13px;
    color: #ffffff;
    letter-spacing: 0.1em;
    line-height: 200%
}

.nav-menu {
    margin-right: -16px;
    display: flex;
    color: #fafafa;
    font-family: Arial;
    font-size: 15px;
}


ul {
    cursor: pointer;
    padding: 0 17px;
    color: #CDCDCD;
}

ul:hover {
    color: #fafafa;
}

.nav-marker {
    color: #fafafa;
    border-bottom: 3px solid #F1CDB3;
    padding: 0;
    margin: 16px 20px;
}

.start-screen-content {
    display: flex;
    justify-content: center;
}

.not-only {
    margin: 128px 40px 0 0;
    justify-content: space-between;
    align-items: center;
    color: #fafafa;
}

.not-only-text {
    max-width: 460px;
    margin: 40px 0px;
    color: #CDCDCD;
}

.button-primary {
    border-radius: 100px;
    background: #F1CDB3;
    color: #292929;
    font-family: 'Georgia';
    padding: 15px 45px;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    border: none;
    cursor: pointer;
}

.button-primary:hover {
    background: #FDDCC4;
    padding: 15px 45px;
}

.about {
    padding: 80px 0 100px;
}

.start-screen-puppy {
    margin: auto;
}

.content-about-the-shelter {
    max-height: 408px;
    display: flex;
    justify-content: center;
    gap: 10%;
}

.about-the-shelter {
    max-width: 430px;
    display: flex;
    flex-direction: column;
}

.about-title {
    margin: 13px 0;
}

.img-about-pets {
    margin-left: 0;
}

.our-pets {
    padding: 45px 0 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    background: #f6f6f6fa;
}



.slider {
    display: flex;
    align-items: center;
    gap: 53px;
    margin: 60px 0;
}

.slider-card {
    display: flex;
    gap: 90px;
}

.card {
    width: 270px;
    height: 435px;
    text-align: center;
    background: #fafafa;
    border-radius: 9px;
    color: #545454;
    cursor: pointer;
}

.card:hover {
    box-shadow: 1px 5px 25px #FDDCC4;
    background: #FFFFFF;
}

.card:hover .button-secondary {
    background: #FDDCC4;
    border: none;
}

.slider-button-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background-color: transparent;
    cursor: pointer;
}

.slider-button-arrow:hover {
    background: #FDDCC4;
    border: none;
}

.button-secondary {
    border-radius: 100px;
    width: 187px;
    height: 52px;
    background: transparent;
    border: 2px solid #F1CDB3;
    color: #292929;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.button-secondary:hover {
    background: #FDDCC4;
    box-shadow: 1px 5px 25px #F1CDB3;
}

.help-the-shelter {
    padding: 45px 0 65px;
    text-align: center;
}

.help-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 120px;
    row-gap: 25px;
    margin-top: 60px;
    color: #545454;
}

.donation {
    padding: 80px 100px 90px;
    margin: auto;
    background: #F6F6F6;
}

.donation-content {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.donation-title {
    margin: 2px 0 20px ;
}

.donation-content-text {
    max-width: 380px;
}

.donation-text {
    line-height: 120%;
}

.button-credit-card {
    padding: 10px 15px;
    margin: 18px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background: #F1CDB3;
    border-radius: 9px;
    border: none;
}

.button-credit-card:hover {
    cursor: pointer;
    background: #FDDCC4;
}

.credit-card-number {
    margin: 0;
    color: #545454;
}

.contacts {
    padding-top: 40px;
    background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.contacts-content {
    display: flex;
    gap: 160px;
}

.contacts-title {
    color: #FFFFFF;
    margin: 0;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    width: 280px;
    gap: 40px;
    margin: 16px 0px;
}

.footer-contacts-locations-block {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #F1CDB3;
}

.footer-contacts-text {
    margin: 0;
}

.footer-locations {
    display: flex;
    flex-direction: column;
    width: 302px;
    gap: 30px;
    margin: 16px 0px;
}

.color-links {
    color: #F1CDB3;
}

@media screen and (max-width: 1279px) {

    .wrapper {

        max-width: 708px;
        margin: 0 auto;
        padding: 0 30px;
    }

    .header-content {
        padding: 27px 0 ;
    }

    .start-screen-content {
        flex-direction: column;
    }

    .not-only {
        width: 460px;
        margin: 0 124px;
    }

    .button-primary {
        display: flex;
        margin: 2px auto 100px;
    }

    .start-screen-puppy {
        width: 569px;
        margin: 0 0 0 140px;
    }

    .about {
        padding-top: 70px;
    }

    .content-about-the-shelter {
        flex-direction: column-reverse;
        max-height: none;
        align-items: center;
    }

    .img-about-pets {
        margin-top: 65px;
        width: 300px;
    }

    .our-pets {
        padding-bottom: 0;
    }

    .card:nth-child(n + 3) {
        display: none;
    }

    .slider {
        gap: 12px;
    }

    .slider-card {
        gap: 40px;
    }

    .help-the-shelter {
        padding: 45px 0 65px;
        align-items: center;
    }

    .help-content {
        column-gap: 60px;
        max-width: 630px;
        margin: 60px auto 0;
    }

    .help-item {
        width: 170px;
    }

    .donation {
        padding: 80px 100px 100px;
    }

    .donation-content {
        flex-direction: column-reverse;
        align-items: center;
        gap: 50px;
    }

    .contacts {
        padding-top: 10px;
    }

    .contacts-content {
        gap: 60px;
        row-gap: 50px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-contacts {
        max-height: none;
    }

    .footer-locations {
        max-height: none;
    }
}

@media screen and (max-width: 767px) {

    body {
        min-width: 320px;
    }

    h2, h3 {
        font-size: 25px;
    }

    h5 {
       letter-spacing: normal;
    }

    .wrapper {
        margin: 0 auto;
        padding: 0 10px;
    }


    /*.nav-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        margin: 168px 0px 248px 0px;
        gap: 55px;
    }*/

    

    .start-screen-content {
        align-items: center;
        text-align: center;
    }

    .not-only {
        margin: 15px 0 0;
        max-width: 300px;
        display: flex;
        flex-direction: column;
        letter-spacing: 0.06em;
    }

    .not-only-text {
        margin: 20px 0px 40px;
        text-align: center;
        letter-spacing: 0.0em;
    }

    .start-screen-puppy {
        margin: 65px 0 0 35px;
        width: 260px;
    }

    .about {
        padding: 28px 0 40px;
        margin: 0 15px;
        align-items: center;
        text-align: justify;
    }

    .about-title {
        text-align: center;
    }

    .about-the-shelter {
        max-width: 270px;
    }

    .img-about-pets {
        margin-top: 25px;
        width: 260px;
    }

    .our-pets {
        padding-top: 20px;
    }

    .card:nth-child(n + 2) {
        display: none;
    }

    .slider {
        margin: 40px 15px 45px;
        width: 270px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 20px;
        column-gap: 80px;
    }

    .slider-card {
        order: 1;
    }

    .slider-button-arrow {
        order: 2;
    }

    .button-primary {
        display: flex;
        margin-bottom: 40px;
    }

    .help-the-shelter {
        padding: 15px 0 45px;
    }

    .help-content {
        margin: 40px auto 0;
        width: 290px;
        display: grid;
        grid-template-columns: 130px 130px;
        gap: 0;
        gap: 30px;
    }

    .help-item {
        width: 130px;
        height: 87px;
    }

    .help-icon {
        width: 50px;
    }

    .help-icon-name {
        font-size: 15px;
        margin: 18px auto 30px;
    }

    .donation {
        padding: 40px 0;
    }

    .donation-content {
        gap: 30px;
    }

    .donation-content-text {
        text-align: center;
        margin: 0 10px;
    }

    .button-credit-card {
        margin: 25px auto;
    }

    .donation-img {
        width: 260px;
        height: 135.2px;

    }

    .button-credit-card {
        padding: 10px 14px;
        margin-bottom: 20px;
    }

    .credit-card-number {
        font-size: 15px;
    }

    .donation-text {
        text-align: justify;
        max-width: 280px;
        margin: 15px 0;
    }

    .contacts-content {
        row-gap: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-contacts-locations-block {
        justify-content: center;
    }

    .footer-contacts {
        margin: 22px 0px;
        text-align: center;
        width: 270px;
    }

    .contacts-title {
        text-align: center;
        margin: 0 20px;
    }

    .footer-locations {
        gap: 35px;
        align-items: flex-start;
    }

    .footer-puppy {
        margin-top: 25px;
        width: 260px;
        height: 269px;
    }
}
